/* ul li {
    background: greenYellow;
} */
*{
    margin: 10px;
    padding: 0;
    
}
button {
    margin: 10px;
    cursor: pointer;
}
.yellow{
    background: yellow;
}
.red {
    background: red;
}